* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    list-style: none;
    text-decoration: none;
    font-family: "Kdam Thmor Pro", sans-serif;

}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: 0.5s;
    font-family: "Kdam Thmor Pro", sans-serif;

}

li:hover {
    color: #d21617;

}

#logo {
    width: 150px;
    height: auto;
}

h2 {
    color: #fff;
    background-color: #00000077;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    width: 50%;
    background-image:url("https://live.staticflickr.com/65535/51894784334_79340c9e36_b.jpg");
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    margin: 100px auto;
}

button {
    width: 200px;
    height: 40px;
    background-color: #00000077;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border: none;
    outline: none;
    margin-top: 25px;
}

input, textarea {
    border: 0;
    outline: none;
    padding: 5px 5px;
    margin: 5px auto;
    border-radius: 10px;
    color: #ffff;
    font-size: 18px;
    width: 100%;
    background-color: #00000077;
}

textarea {
    height: 100px;
    resize: none;
}

footer {
    height: 300px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: "Kdam Thmor Pro", sans-serif;
    
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}